
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>fromtempdataaction</title>
</head>
<body>
    <div>
        value available in tempdata when first nearest action call first time<br />
        if you refresh the page, temp data value will remove<br />

        @ViewData["StudentName"]<br />

        @{
            TempData.Keep("StudentName");
        }

        @TempData["StudentName"]<br />
    </div>
</body>
</html>
