
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBagViewData</title>
</head>
<body>
    <div> 
        <b>ViewBag Value : </b>
        @ViewBag.Hello
        <br />
        <b>ViewData Value : </b>
        @ViewData["Hello"]
    </div>
</body>
</html>
